@media(max-width:1200px) {

    // Header 
    .header_item {
        column-gap: 48px;
    }

    .inner_block {
        margin-top: 50px;
    }

    .text_main {
        font-size: 24px;
        max-width: 780px;
    }

    .inner_social {
        margin-right: 90px;
    }

    // Wait
    .wait_text {
        max-width: 440px;
        font-size: 19px;
    }

    // Programm
    .programm_info {
        width: 600px;
    }

    .programm_container {
        column-gap: 36px;
    }

    .progress {
        row-gap: 32px;
    }

    .slick-prev,
    .slick-next {
        bottom: 0px;
    }

    // Advantage !!
    .advantage_text {
        text-align: left;
    }

    // Price 

    .price_item {
        column-gap: 90px;
    }

    // Сделать адаптивную карусель
    // .price_item_card{
    //     min-width: 351px;
    // }

    .order {
        row-gap: 32px;
        height: 530px;
        margin-top: 46px;
    }
}

@media(max-width:990px) {

    // Header 
    .hed2{
        padding: 22px 0;
    }
    .header_item {
        column-gap: 32px;
    }

    .header_links {
        font-size: 16px;
    }

    .number_links {
        display: none;
    }

    .text_main {
        font-size: 22px;
        max-width: 536px;
        line-height: 42px;
    }

    .btn_order {
        font-size: 18px;
        padding: 20px 48px;
    }

    // Wait 
    .wait_block {
        flex-direction: column;
        padding-top: 20px;
    }

    .wait_img img {
        max-width: 540px;
        height: 570px;
    }

    .wait_text {
        max-width: 100%;
        padding-top: 29px;
        padding-bottom: 40px;
    }

    // Programm 
    .programm_info {
        margin: 0 auto;
        padding-top: 110px;
        margin-bottom: 70px !important;
        width: 700px;
    }

    .programm_container {
        flex-direction: column-reverse;
        padding-top: 55px;

    }

    .progress {
        padding-top: 60px;
        margin-top: 30px;
        flex-direction: row;
        row-gap: unset;
        column-gap: 90px;
        justify-content: center;
    }

    .mode {
        &:not(:first-child)::before {
            width: 96px;
            height: 4px;
            top: 9px;
            left: -86px;
        }

        &:nth-child(odd) {
            p {
                margin: 0;
                position: absolute;
                top: -46px;
                left: -64px;
                font-size: 16px;
                // display: none;
            }
        }

        &:first-child {
            p {
                left: -11px;
            }

        }
    }

    .slick-prev,
    .slick-next {
        bottom: 30px;
    }

    .mode:nth-child(even) {
        p {
            margin: 0;
            position: absolute;
            top: 32px;
            left: 0px;
            font-size: 16px;
            left: -51px;
            // display: none;
        }
    }

    .more_title {
        font-size: 22px;
    }

    // advantage 
    .advantage {
        padding-bottom: 90px;
    }

    .advantage_item {
        flex-direction: column;
        align-items: center;
        column-gap: unset;
        row-gap: 40px;
        padding-top: 50px;

        .advantage_text {
            max-width: 400px;
            text-align: center;
        }
    }

    // Price 
    .price {
        padding-bottom: 90px;
    }
    .price_item {
        margin-top: 50px;
        column-gap: 36px;
    }

    .price_item_card {
        min-width: 330px;
        height: 430px;
        &:hover .price_text{
            transform: translateY(-10%);
        }
    }

    // Delivery 
    .delivery{
        padding: 20px 0;
    }
    .order{
        padding: 0 20px;
        height: 480px;
    }
    .services_title{
        margin-top: 40px;
        font-size: 24px;
    }

    // Footer 
    footer{
        .footer_position{
            padding: 16px 0;
        }
        .header_item{
            flex-direction: column;
            row-gap: 16px;
        }
    }
   
   

}

@media(max-width:770px) {
    .menu--3{
        display: block;
    }
    .parallax{
        header{
            padding: 24px 0;
        }
        .header_item{
            display: none;
        }
        .inner_block{
            margin-top: 70px;
        }
    }
}

@media(max-width:1200px) {}